<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-card col-6 col-md-4 col-lg-3>
      <ion-item lines="full">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Manager</ion-label>
        <ion-input type="text" [(ngModel)]="manager"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Team</ion-label>
        <ion-input type="text" [(ngModel)]="team"></ion-input>
      </ion-item>
      <!-- <ion-list>
        <ion-item>
          <ion-label>Team</ion-label>
          <ion-select value="AppEast">
            <ion-select-option value="APEast">APEast</ion-select-option>
            <ion-select-option value="AppInt">AppInt</ion-select-option>
            <ion-select-option value="BigFix">BigFix</ion-select-option>
            <ion-select-option value="CCM">CCM</ion-select-option>
            <ion-select-option value="DS">DS</ion-select-option>
            <ion-select-option value="DX">DX</ion-select-option>
            <ion-select-option value="M&C">M&C</ion-select-option>
            <ion-select-option value="MNC">MNC</ion-select-option>
            <ion-select-option value="Quintana">Quintana</ion-select-option>
            <ion-select-option value="Sametime">Sametime</ion-select-option>
            <ion-select-option value="Testing">Testing</ion-select-option>
            <ion-select-option value="TWS">TWS</ion-select-option>
            <ion-select-option value="Wex">Wex</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list> -->
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="conpassword"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="danger"
            expand="block"
            (click)="register()"
            >Sign Up</ion-button
          >
          <!-- <a [routerLink]="['/forgot-password']" class="small-text"
              >Forgot Password?</a
            > -->
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
